.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.icon-github{
  background-image:url('../images/github.png');
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  display:inherit;
  margin-bottom:-6px;
  margin-left:9px;
  margin-right:-10px
}

.progress-bar{
  background-color: #3C3C3C;
}

ul li div {
  margin: 15px 0 18px 10px;
}

.main {
  font-weight: bold;
}

.main-inc {
  color: rgb(144, 144, 144);
  font-size: 12pt;
}

.description {
  color: rgb(56, 56, 56);
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  background: #fff;
  color: #ADADAD;
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.content{
  color: #000;
}

h1, h2 {
  font-weight: 700;
}

h3 span {
  color: #286090;
}

.scrollspy{
  top: 20px;
}

.twitter{
  line-height: 25px;
  margin-top: 20px;
}

.jumbotron {
  border-radius: 0px;
  background: #131313;
  margin-bottom: 0;
}

.jumbotron button {
  margin-top: 10px;
}

section {
  padding: 40px 0;
}

#web-development,
#mobile-development {
  padding-bottom: 0;
}

section:last-child {
  border-bottom: none;
}

.nav {
  background: #fff;
}

.nav a {
  color: #000;
  font-style: normal;
}

.nav li a:hover,
.nav li a:focus {
  background: #F4F4F4;
}

.nav .active {
  font-weight: bold;
  background: rgba(173, 173, 173, 0.3);
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.application {
  border-top: 1px solid #c1e1ec;
}

.affix-top {
  position: relative;
}

.affix {
  top: 20px;
}

.affix,
.affix-bottom {
    width: 213px;
}

.affix-bottom {
  position: absolute;
}

footer {
  border-top: 1px solid #D7D7D7;
  height: 50px;
}

footer p {
  line-height: 50px;
  margin-bottom: 0;
}

@media (min-width:1200px) {
  .affix,
  .affix-bottom {
    width: 263px;
  }
}
